<h1>Hello! This message came by a method we used in the static controller named about!</h1>
<h2>Through this method, it implicitly locates the name the html.erb file that corresponds with</h2>
<h3>the method, named about.</h3>